<script>
export default {
  name: 'PageLayout'
}
</script>

<template>
  <div class="grid grid-cols-1 lg:grid-cols-5 gap-8">
    <div class="lg:col-span-1">
      <slot name="aside" />
    </div>
    <div class="lg:col-span-4 pb-6 h-full">
      <slot />
    </div>
  </div>
</template>
