<template>
  <div class="flex lg:flex-row flex-col space-y-4 lg:space-y-0 justify-between mb-4">
    <slot name="left-side" />
    <div class="flex space-x-2 items-center">
      <slot name="right-side" class="flex items-center space-x-2 w-full justify-between"> </slot>
    </div>
  </div>
</template>
<script setup></script>
