<script setup>
import { CheckCircleIcon, ExclamationTriangleIcon } from '@heroicons/vue/24/solid'
defineProps({
  isTokenCreated: Boolean
})
</script>

<template>
  <div
    :class="[
      isTokenCreated ? 'text-green-600' : 'text-red-600',
      ' inline-flex items-center text-sm space-x-2'
    ]"
  >
    <CheckCircleIcon v-if="isTokenCreated" class="w-4 h-4" />
    <ExclamationTriangleIcon v-else class="w-4 h-4" />
    <p>{{ isTokenCreated ? 'Токен уже добавлен' : 'Токен еще не добавлен' }}</p>
  </div>
</template>

<style scoped></style>
