@tailwind base;
@tailwind components;
@tailwind utilities;




@media (max-width: 900px) {

}

@layer components {


    .tink-checkbox{
       @apply w-4 h-4 text-blue-600 bg-gray-100 accent-blue-400 border-gray-300 rounded
    }

    .tink-input{
        @apply  border border-gray-300 text-gray-900 text-sm rounded-md block w-full px-2.5 py-3 focus:outline-blue-400
    }

    .tink-primary-btn {
        @apply text-white bg-blue-400 hover:bg-blue-500 font-medium rounded-md text-sm px-5 py-3 mr-2 focus:outline-none
    }
    .tink-primary-btn-not-active {
        @apply text-white bg-blue-400 hover:bg-blue-500 bg-opacity-25 font-medium rounded-md text-sm px-5 py-3 mr-2 focus:outline-none
    }

    .fieldset-input-label {
        @apply absolute inset-y-0 left-0 flex items-center text-gray-500 pl-3.5 pointer-events-none
    }

    .currency-instrument{
        @apply flex items-center rounded-lg px-4 py-3 bg-white border
    }

    .start-end-time{
        @apply flex flex-col space-y-4 lg:space-y-0 lg:flex-row lg:justify-between lg:space-x-4
    }

    .radio-input{
        @apply w-4 h-4 text-blue-600 accent-blue-500 bg-gray-100 border-gray-300 focus:outline-none
    }

    .fdfd{
        @apply accent-gray-100
    }
}