<script setup>
import { RouterView, useRoute } from 'vue-router'
import AlertComponent from './components/common/AlertComponent.vue'
import { useStore } from 'vuex'
import { onMounted } from 'vue'

const store = useStore()
const route = useRoute()
const workRoutes = [
  'CreateStrategyPage',
  'MainStrategyPage',
  'StrategyListPage',
  'StrategyOverviewPage',
  'StrategyPage',
  'LoginPage',
  'RegisterPage'
]

onMounted(() => {
  let token = JSON.parse(localStorage.getItem('tink-token'))

  if (token === null) {
    localStorage.removeItem('tink-token')
  }

  if (store.state?.userInfo?.token && !workRoutes.includes(route.name)) {
    store.dispatch('getMe')
  }
})
</script>

<template>
  <div class="h-screen w-full overflow-hidden">
    <AlertComponent />
    <header class="sticky top-0 bg-white z-10">
      <router-view name="header" />
    </header>
    <router-view />
  </div>
</template>
