<script>
import { defineComponent } from 'vue'
import { mapActions, mapGetters } from 'vuex'
import VueDatePicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'
import BaseModal from '../../../components/modal/BaseModal.vue'
import { ChevronDownIcon } from '@heroicons/vue/24/outline'
import SelectInstrument from '../partials/SelectInstrument.vue'
import useVuelidate from '@vuelidate/core'
import { helpers, minValue, required } from '@vuelidate/validators'
import ErrorComponent from '../../../components/common/ErrorComponent.vue'
import { useGetCurrencySymbol } from '../../../use/useGetCurrencySymbol'
import { getTDateWithTimezone } from '../../../use/getTDateWithTimezone'
import { orderTypesList, useGetStrategyType } from '../../../use/useGetStrategyType'

export default defineComponent({
  name: 'CreateStrategyPage',
  components: {
    ErrorComponent,
    SelectInstrument,
    BaseModal,
    VueDatePicker,
    ChevronDownIcon
  },

  beforeMount() {
    this.$store.commit('Instruments/SET_INSTRUMENT', null)
  },

  data() {
    return {
      v$: useVuelidate(),

      strategyForm: {
        buyPrice: null,
        dateOfBegin: new Date(),
        dateOfEnd: new Date(),
        instrumentDTO: null,
        sellPrice: null,
        volume: null,
        orderType: null
      }
    }
  },

  computed: {
    orderTypesList() {
      return orderTypesList
    },
    ...mapGetters({
      widgetTypes: 'widgetTypes',
      deleteModalForm: 'deleteModalForm',
      selectedInstrument: 'Instruments/selectedInstrument',
      loading: 'Strategies/loading'
    }),

    currentInstrumentName() {
      let e = this.selectedInstrument?.name
      return this.deleteModalForm.open ? '' : e
    }
  },

  watch: {
    selectedInstrument: {
      deep: true,
      immediate: true,

      handler(instrument) {
        this.strategyForm.instrumentDTO = instrument
      }
    }
  },

  methods: {
    useGetStrategyType,
    getTDateWithTimezone,
    useGetCurrencySymbol,
    ...mapActions({
      createStrategyAction: 'Strategies/postStrategy'
    }),

    createStrategy() {
      this.v$.strategyForm.$touch()
      if (!this.v$.strategyForm.$error) {
        this.createStrategyAction({
          ...this.strategyForm,
          dateOfBegin: getTDateWithTimezone(this.strategyForm.dateOfBegin),
          dateOfEnd: getTDateWithTimezone(this.strategyForm.dateOfEnd)
        })
      }
    },

    onClose() {
      this.handleModal({
        open: false,
        confirmCallback: null,
        fullBtnLabel: null,
        rejectCallback: null,
        message: ''
      })
    },

    handleOpenInstrumentModal() {
      this.handleModal({
        open: true,
        confirmCallback: null,
        fullBtnLabel: null,
        rejectCallback: null,
        message: ''
      })
    },

    handleModal(payload) {
      this.$store.commit('SET_OPEN_DELETE_MODAL', payload)
    }
  },

  beforeUnmount() {
    this.$store.commit('Instruments/SET_INSTRUMENT', null)
  },

  validations() {
    return {
      strategyForm: {
        buyPrice: {
          required: helpers.withMessage('Максимальная цена не может быть пустой', required),
          minValue: minValue(0)
        },
        orderType: {
          required: helpers.withMessage('Обязательное поле', required)
        },
        dateOfBegin: {
          required: helpers.withMessage('Обязательное поле', required)
        },
        dateOfEnd: { required: helpers.withMessage('Обязательное поле', required) },
        instrumentDTO: {
          required: helpers.withMessage('Обязательное поле', required)
        },
        sellPrice: {
          required: helpers.withMessage('Минимальная цена не может быть пустой', required),
          minValue: minValue(0)
        },
        volume: {
          required: helpers.withMessage('Объем не может быть пустой', required),
          minValue: minValue(0)
        }
      }
    }
  }
})
</script>

<template>
  <div>
    <BaseModal :isInstruments="true" :open="deleteModalForm?.open" @onClose="onClose">
      <SelectInstrument @onClose="onClose" :check-status="true" :can-select="false" />
    </BaseModal>
    <h4 class="text-2xl text-gray-900 mb-6 lg:mt-0 mt-4">Создание новой операции</h4>

    <form
      @submit.prevent="createStrategy"
      class="space-y-4 lg:bg-gray-50 lg:p-4 lg:rounded-2xl relative mb-[100px]"
    >
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
        <fieldset class="border border-solid border-gray-300 p-3 rounded-md w-full">
          <legend class="">Выберите интервал операции:</legend>
          <div class="flex lg:flex-row flex-col lg:space-x-4 lg:space-y-0 space-y-4">
            <div class="w-full">
              <div class="">
                <div class="pb-2">Время начала :</div>
                <VueDatePicker
                  v-model="v$.strategyForm.dateOfBegin.$model"
                  class="text-black"
                  text-input
                  locale="ru-Ru"
                  format="dd/MM/yyyy HH:mm"
                  cancelText="Отменить"
                  selectText="Выбрать"
                />
              </div>
              <ErrorComponent :errors="v$.strategyForm.dateOfBegin.$errors" />
            </div>

            <div class="w-full">
              <div class="">
                <div class="pb-2">Время окончания :</div>
                <VueDatePicker
                  v-model="v$.strategyForm.dateOfEnd.$model"
                  class="text-black"
                  text-input
                  locale="ru-Ru"
                  format="dd/MM/yyyy HH:mm"
                  cancelText="Отменить"
                  selectText="Выбрать"
                />
              </div>
              <ErrorComponent :errors="v$.strategyForm.dateOfEnd.$errors" />
            </div>
          </div>
        </fieldset>

        <fieldset class="border border-solid border-gray-300 p-3 rounded-md w-full">
          <legend class="">Выберите ценную бумагу или валюту:</legend>
          <div class="flex lg:flex-row flex-col lg:space-x-4 lg:space-y-0 space-y-2">
            <div
              id="instrument"
              @click.prevent="handleOpenInstrumentModal"
              class="relative w-full tink-input bg-white"
            >
              <ChevronDownIcon class="w-6 h-6 absolute top-3 lg:top-4 right-4" />
              <span class="pr-[50px] pl-2 w-full lg:text-2xl">
                {{ currentInstrumentName }}
              </span>
            </div>
          </div>
          <ErrorComponent :errors="v$.strategyForm.instrumentDTO.$errors" />
        </fieldset>
      </div>

      <fieldset class="border border-solid border-gray-300 p-3 rounded-md w-full">
        <legend class="">Объем закупки и Тип заявки:</legend>
        <div
          class="flex lg:flex-row flex-col lg:space-x-4 lg:justify-between items-center lg:space-y-0 space-y-2"
        >
          <div class="w-full">
            <div class="relative w-full">
              <div class="fieldset-input-label">Объем :</div>
              <input
                v-model="v$.strategyForm.volume.$model"
                type="number"
                step="any"
                id="prodavate-pri"
                class="tink-input pl-[90px] font-bold text-black text-2xl"
              />
            </div>
            <ErrorComponent :errors="v$.strategyForm.volume.$errors" />
          </div>
          <div class="w-full flex-col">
            <div class="relative w-full">
              <div class="fieldset-input-label">Тип заявки:</div>
              <select
                v-model="v$.strategyForm.orderType.$model"
                class="tink-input pl-[110px] text-xl py-4"
              >
                <option selected class="px-4 text-gray-100" value="">Выбрать тип</option>
                <option
                  v-for="(option, index) in Object.keys(orderTypesList)"
                  :key="index"
                  :value="orderTypesList[option].description"
                  class="px-4"
                >
                  {{ useGetStrategyType(orderTypesList[option].description) }}
                </option>
              </select>
            </div>
            <ErrorComponent :errors="v$.strategyForm.orderType.$errors" />
          </div>
        </div>
      </fieldset>

      <fieldset class="border border-solid border-gray-300 p-3 rounded-md w-full">
        <legend class="">
          Выберите минимальную и максимальную цену :
          {{
            selectedInstrument && `(${useGetCurrencySymbol('ru-RU', selectedInstrument?.currency)})`
          }}
        </legend>
        <div class="start-end-time">
          <div class="w-full">
            <div class="relative">
              <div class="fieldset-input-label">Продавать при :</div>
              <input
                v-model="v$.strategyForm.sellPrice.$model"
                type="number"
                step="any"
                id="prodavate-pri"
                class="tink-input pl-[150px] font-bold text-black text-2xl"
              />
            </div>
            <ErrorComponent :errors="v$.strategyForm.sellPrice.$errors" />
          </div>

          <div class="w-full">
            <div class="relative">
              <div class="fieldset-input-label">Покупать при :</div>
              <input
                v-model="v$.strategyForm.buyPrice.$model"
                type="number"
                id="prodavate-pri"
                step="any"
                class="tink-input pl-[140px] font-bold text-black text-2xl"
              />
            </div>
            <ErrorComponent :errors="v$.strategyForm.buyPrice.$errors" />
          </div>
        </div>
      </fieldset>

      <div class="text-right space-x-4">
        <router-link :to="{ name: 'StrategyListPage' }" class="outline-none">Отменить</router-link>
        <button type="submit" class="tink-primary-btn w-40">
          {{ loading ? 'В работе...' : 'Создать' }}
        </button>
      </div>
    </form>
  </div>
</template>

<style scoped>
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.dp__outer_menu_wrap {
  bottom: 108px !important;
  z-index: 100000 !important;
}

.dp__arrow_top {
  display: none !important;
}

.dp__main {
  position: static;
}
</style>
