<script>
import { mapGetters } from 'vuex'

export default {
  name: 'MainStrategyPage',
  computed: {
    ...mapGetters({
      loading: 'loading'
    }),

    isTokenCreated() {
      return this.$store.state.userInfo?.isTokenCreated
    }
  },

  watch: {
    isTokenCreated(newValue) {
      if (!newValue) {
        this.$router.push({ name: 'AddTokenPage' })
      }
    }
  }
}
</script>

<template>
  <div class="h-screen w-full overflow-auto">
    <main class="lg:px-4 px-2 lg:py-6 overflow-y-auto h-full relative">
      <div class="max-w-screen-xl mx-auto lg:px-4">
        <router-view />
      </div>
    </main>
  </div>
</template>
