<script>
import { EXPIRED, FAILURE, IN_PROGRESS, PARTLY, SUCCESS } from '../../../constants/conts'
import { useGetStrategyStatus } from '../../../use/useGetStrategyStatus'
import { useGetOrderStatus } from '../../../use/useGetOrderStatus'
import { usePrice } from '../../../use/usePrice'
import { useGetCurrencySymbol } from '../../../use/useGetCurrencySymbol'
import { mapActions, mapGetters } from 'vuex'
import LoadingComponent from '../../../components/common/LoadingComponent.vue'
import BalanceCard from '../../security/partials/BalanceCard.vue'
import { orderTypesList, useGetStrategyType } from '../../../use/useGetStrategyType'

export default {
  name: 'StrategyStatePage',
  components: { LoadingComponent, BalanceCard },

  beforeMount() {
    if (this.isTokenCreated && this.strategyId) {
      this.getStrategyByIdAction({
        id: this.strategyId,
        orderId: this.orderId
      })
    }
  },

  methods: {
    useGetStrategyType,
    EXPIRED() {
      return EXPIRED
    },
    PARTLY() {
      return PARTLY
    },
    useGetStrategyStatus,
    SUCCESS() {
      return SUCCESS
    },
    IN_PROGRESS() {
      return IN_PROGRESS
    },
    FAILURE() {
      return FAILURE
    },
    useGetOrderStatus,
    usePrice,
    useGetCurrencySymbol,
    ...mapActions({
      getStrategyAction: 'Strategies/getStrategyState',
      getStrategyByIdAction: 'Strategies/getStrategyById'
    }),

    toLocalDate(date) {
      if (!date) return
      let neDate = new Date(date)

      return neDate.toLocaleString()
    }
  },

  watch: {
    orderId: {
      handler(newValue) {
        if (newValue) {
          this.getStrategyAction(newValue)
        }
      },
      immediate: true,
      deep: true
    }
  },

  computed: {
    orderTypesList() {
      return orderTypesList
    },
    ...mapGetters({
      history: 'Strategies/strategyState',
      strategy: 'Strategies/strategy',
      loading: 'Strategies/loading',
      loadingStrategy: 'Strategies/loadingStrategy'
    }),

    isTokenCreated() {
      return this.$store.state.userInfo.isTokenCreated
    },

    strategyId() {
      return this.$route?.params?.id || null
    },

    orderId() {
      return this.$route?.query?.order_id || null
    }
  }
}
</script>

<template>
  <div class="overflow-hidden max-w-screen-xl w-full mx-auto px-4 my-6">
    <div class="flex justify-between items-center">
      <h5 class="text-2xl text-gray-900 first-letter:capitalize">
        Информация о торговом поручении
      </h5>
      <router-link
        :to="{ name: 'StrategyListPage' }"
        class="underline hidden lg:block hover:text-blue-900"
      >
        Операции
      </router-link>
    </div>
    <div v-if="!loading" class="flex lg:flex-row flex-col lg:space-x-8">
      <div class="lg:w-1/3 w-full flex lg:flex-col flex-col-reverse">
        <div
          v-if="strategy && strategy?.history && strategy?.history?.length"
          class="divide-y my-8 border p-4 flex flex-col rounded-md h-full max-h-[400px] overflow-y-auto"
        >
          <router-link
            v-for="hist in strategy?.history"
            :key="hist.id"
            :class="{ 'bg-gray-100': orderId === hist?.orderId }"
            class="p-3 flex flex-col group"
            :to="{
              name: 'StrategyStatePage',
              params: { ...$route.params },
              query: { order_id: hist?.orderId }
            }"
            type="button"
          >
            <span class="font-bold text-sm group-hover:text-blue-600">#{{ hist.orderId }}</span>
            <div class="inline-flex items-center space-x-2 text-xs mt-2">
              <span class="text-blue-500 capitalize">{{ useGetOrderStatus(hist?.type) }}</span>
              <span class="capitalize">{{ toLocalDate(hist?.executionTimestamp) }}</span>
            </div>
          </router-link>
        </div>

        <div v-if="strategy" class="space-y-2 lg:mt-0 mt-8">
          <div class="flex justify-between">
            <span class="capitalize text-gray-400 whitespace-nowrap">Инструмент </span>
            <span class="capitalize font-bold">{{ strategy?.instrumentDTO?.name }}</span>
          </div>
          <div class="flex justify-between">
            <span class="text-gray-400 whitespace-nowrap">Тип заявки </span>
            <span class="font-bold text-blue-600">{{
              useGetStrategyType(orderTypesList[strategy?.orderType])
            }}</span>
          </div>
          <div class="flex justify-between">
            <span class="text-gray-400 whitespace-nowrap">Минимальная цена</span>
            <span class="font-bold">{{
              usePrice(strategy?.buyPrice, strategy.instrumentDTO?.currency)
            }}</span>
          </div>
          <div class="flex justify-between">
            <span class="text-gray-400 whitespace-nowrap">Максимальная цена </span>
            <span class="font-bold">{{
              usePrice(strategy?.sellPrice, strategy.instrumentDTO?.currency)
            }}</span>
          </div>
          <div class="flex justify-between">
            <span class="capitalize text-gray-400 whitespace-nowrap">Объем</span>
            <span class="capitalize font-bold">{{ strategy?.volume }}</span>
          </div>
          <div class="flex justify-between">
            <span class="capitalize text-gray-400 whitespace-nowrap">Статус </span>
            <span
              :class="{
                'text-green-500': strategy.status === SUCCESS(),
                'text-blue-500': strategy.status === IN_PROGRESS(),
                'text-red-500': strategy.status === FAILURE(),
                'text-yellow-500': strategy.status === PARTLY(),
                'text-gray-500': strategy.status === EXPIRED()
              }"
              class="py-1.5 px-3 rounded-md text-md"
              >{{ useGetStrategyStatus(strategy.status) }}</span
            >
          </div>
        </div>
      </div>
      <div class="flex-1 mt-8 bg-gray-50 rounded-md p-4">
        <div v-if="!loadingStrategy" class="">
          <div class="flex flex-col space-y-2">
            <div v-if="history" class="grid grid-cols-2 lg:grid-cols-3 gap-2">
              <span class="capitalize text-gray-400 whitespace-nowrap"
                >Биржевой идентификатор
              </span>
              <span class="capitalize col-span-2 font-bold">{{ history?.orderId }}</span>
            </div>
            <div v-if="history" class="grid grid-cols-2 lg:grid-cols-3 gap-2">
              <span class="capitalize text-gray-400 whitespace-nowrap">Запрошено лотов</span>
              <span class="capitalize col-span-2 font-bold">{{ history?.lotsRequested }}</span>
            </div>
            <div v-if="history" class="grid grid-cols-2 lg:grid-cols-3 gap-2">
              <span class="capitalize text-gray-400 whitespace-nowrap">Исполнено лотов</span>
              <span class="capitalize col-span-2 font-bold">{{ history?.lotsExecuted }}</span>
            </div>
          </div>

          <div
            v-if="!loadingStrategy && history !== null"
            class="grid grid-cols-1 lg:grid-cols-3 gap-3 py-6"
          >
            <BalanceCard
              label="Начальная цена"
              :balance-price="history?.initialOrderPrice?.value"
              :currency="history?.initialOrderPrice?.currency"
            />
            <BalanceCard
              label="Исполненная цена "
              :balance-price="history?.executedOrderPrice?.value"
              :currency="history?.executedOrderPrice?.currency"
            />
            <BalanceCard
              label="Начальная комиссия"
              :balance-price="history?.initialCommission?.value"
              :currency="history?.initialCommission?.currency"
            />
            <BalanceCard
              label="Фактическая комиссия"
              :balance-price="history?.executedCommission?.value"
              :currency="history?.executedCommission?.currency"
            />
            <BalanceCard
              label="Итоговая стоимость"
              :balance-price="history?.totalOrderAmount?.value"
              :currency="history?.totalOrderAmount?.currency"
            />
          </div>
          <div
            v-if="history === null"
            class="w-full h-[400px] flex justify-center items-center text-gray-400"
          >
            Выберите торговое поручение
          </div>
        </div>
        <LoadingComponent label-text="Загрузка" v-else />
      </div>
    </div>
    <LoadingComponent label-text="Загрузка" v-else />
  </div>
</template>
