<script setup>
import { PlusIcon, ArrowTrendingUpIcon, ArrowPathIcon } from '@heroicons/vue/24/outline'
import { useStore } from 'vuex'
import { computed, onBeforeUnmount, onMounted, ref } from 'vue'
import SecondNavLayout from '../../../layouts/SecondNavLayout.vue'
import ModalConfirmation from '../../../components/modal/ModalConfirmation.vue'
import LoadingComponent from '../../../components/common/LoadingComponent.vue'
import StrategiesTable from '../partials/StrategiesTable.vue'
import AddTokenPage from '../../security/pages/AddTokenPage.vue'
import { useRoute } from 'vue-router'

const store = useStore()
const route = useRoute()
const userStrategies = computed(() => store.getters['Strategies/userStrategies'])
const userInfo = computed(() => store.getters['userInfo'])
const loadingMe = computed(() => store.getters['loading'])
const isFetchingData = computed(() => store.getters['isFetchingData'])

const intervalId = ref(null)

onMounted(() => {
  if (route.name === 'StrategyListPage') {
    pollData()

    intervalId.value = setInterval(() => {
      pollData()
    }, 30000)
  } else {
    clearInterval(intervalId.value)
  }
})

async function pollData() {
  await store.dispatch('userSession')
}

onBeforeUnmount(() => {
  clearInterval(intervalId.value)
})
</script>

<template>
  <div>
    <ModalConfirmation />
    <SecondNavLayout v-if="userInfo?.isTokenCreated && !loadingMe">
      <template #left-side>
        <div>
          <h4 class="text-2xl text-gray-900">Операции</h4>
          <p class="text-gray-400 text-sm lg:text-xs pt-1.5">Данные обновляются каждые 1 минуту</p>
        </div>
      </template>

      <template #right-side>
        <button type="button" @click.prevent="pollData">
          <ArrowPathIcon :class="[isFetchingData ? 'animate-spin' : '', 'w-5 h-5 mr-2']" />
        </button>
        <router-link
          :to="{ name: 'StrategyOverviewPage' }"
          class="shadow-sm inline-flex items-center justify-center p-3 bg-gray-100 hover:bg-gray-200 rounded-md flex-grow"
        >
          <ArrowTrendingUpIcon class="h-7 w-10 text-gray-500" />
          <span>Рабочий стол</span>
        </router-link>
        <router-link
          v-if="userInfo?.isTokenCreated"
          :to="{ name: 'CreateStrategyPage' }"
          class="tink-primary-btn inline-flex items-center justify-center space-x-2 text-lg flex-grow"
        >
          <PlusIcon class="h-6 w-6" />
          <span class="hidden lg:block">Создать операцию</span>
          <span class="lg:hidden">Создать</span>
        </router-link>
      </template>
    </SecondNavLayout>

    <div class="relative overflow-x-auto pt-4" v-if="userInfo?.isTokenCreated && !loadingMe">
      <StrategiesTable
        v-if="userStrategies && userStrategies.length"
        :user-strategies="userStrategies"
      />
      <div v-else class="flex justify-center items-center h-[300px] w-full text-gray-500">
        Вы еще не создали ни одной операции
      </div>
    </div>

    <div v-if="!userInfo?.isTokenCreated && !loadingMe">
      <AddTokenPage />
    </div>

    <LoadingComponent v-if="loadingMe && userInfo?.isTokenCreated" label-text="Загрузка" />
  </div>
</template>
