<template>
  <div class="px-4 py-3 rounded-md border relative">
    <input
      @change.prevent="handleSelectInstrument(instrument)"
      :id="instrument?.name"
      :checked="isSelected(instrument)"
      type="radio"
      value=""
      :name="instrument?.name"
      :class="[
        isSelected(instrument) ? 'cursor-not-allowed' : '',
        'w-4 h-4 accent-blue-500 absolute right-4 top-4'
      ]"
    />
    <label :for="instrument?.name" class="w-full flex flex-col cursor-pointer">
      <span class="">{{ instrument?.name }}</span>
      <span class="text-gray-400 text-sm mt-3">Тип: {{ instrument?.type }}</span>
      <span class="text-gray-400 text-sm">Тикер: {{ instrument?.ticker }}</span>
      <span class="text-gray-400 text-sm"
        >Номинал: {{ usePrice(instrument?.nominal, instrument?.currency) }}</span
      >
      <span class="text-gray-400 text-sm">Figi: {{ instrument?.figi }}</span>
    </label>
  </div>
</template>

<script>
import { usePrice } from '../../../use/usePrice'
import { mapGetters } from 'vuex'

export default {
  props: {
    instrument: {
      type: Object,
      default: () => {}
    },

    checkStatus: {
      type: Boolean,
      default: false
    },
    canSelect: {
      type: Boolean
    }
  },

  emits: ['onSelectInstrument'],

  computed: {
    ...mapGetters({
      selectedInstrument: 'Instruments/selectedInstrument'
    })
  },

  methods: {
    usePrice,

    isSelected(instrument) {
      return instrument?.id === this.selectedInstrument?.id
    },

    handleSelectInstrument(instrument) {
      this.$store.commit('Instruments/SET_INSTRUMENT', instrument)
      this.$emit('onSelectInstrument', instrument)
    }
  }
}
</script>
