<script>
import { mapActions, mapGetters } from 'vuex'
import { usePrice } from '../../../use/usePrice'
import InstrumentCard from './InstrumentCard.vue'
import { useObjectToParams } from '../../../use/useObjectToParams'
import { useDebounce } from '../../../use/useDebounce'
import PaginationManager from '../../../components/pagination/PaginationManager.vue'
import PaginationSectionComponent from '../../../components/pagination/PaginationSectionComponent.vue'
import { InformationCircleIcon } from '@heroicons/vue/24/outline'

export default {
  name: 'SelectInstrument',
  components: {
    PaginationSectionComponent,
    InformationCircleIcon,
    PaginationManager,
    InstrumentCard
  },
  props: {
    checkStatus: {
      type: Boolean,
      default: false
    },
    canSelect: {
      type: Boolean,
      default: true
    }
  },

  beforeMount() {
    this.getInstrumentsActions({
      params: null
    })
  },

  data() {
    return {
      selectedInstrument: null,
      typesList: ['BOND', 'CURRENCY', 'ETF', 'FUTURE', 'OPTION', 'SHARE'],
      filterForm: {
        instrumentType: 'CURRENCY',
        name: null,
        offset: null,
        ticker: null,
        pageSize: 100,
        pageNumber: 0
      }
    }
  },

  emits: ['onClose', 'on-select-instrument'],

  computed: {
    ...mapGetters({
      instruments: 'Instruments/instruments',
      loading: 'Instruments/loading',
      pageableForm: 'pageableForm',
      lastVisitedPage: 'lastVisitedPage'
    })
  },

  watch: {
    filterForm: {
      handler(newFilterValue) {
        this.$store.commit('SET_LAST_PAGE', 0)
        this.debounceSearch(newFilterValue)
      },
      deep: true
    }
  },

  methods: {
    usePrice,
    ...mapActions({
      getInstrumentsActions: 'Instruments/getAllInstruments'
    }),

    debounceSearch: useDebounce(function debounceSearchInstrument(filterForm) {
      this.handlerFilter(filterForm)
    }, 800),

    handleGetInstrument(instrument) {
      this.selectedInstrument = instrument

      if (this.selectedInstrument) {
        this.$emit('on-select-instrument', instrument)
      }
    },

    confirmSelection() {
      this.$emit('onClose')
    },

    handlerFilter(filterForm) {
      let searchParams = useObjectToParams(filterForm)

      this.handleRequestFilters(searchParams.toString())
    },

    handleRequestFilters(query) {
      let baseQuery = {
        action: 'refresh'
      }
      this.getInstrumentsActions({
        ...baseQuery,
        params: query
      })
    },

    closeDialog() {
      this.$emit('onClose')
    }
  }
}
</script>

<template>
  <div>
    <h1 class="text-black mb-4 font-bold">Выбор ценной бумаги или валюты</h1>
    <div class="z-10">
      <div class="text-xs p-3 bg-gray-50 rounded-md mb-2 space-x-2 hidden">
        <InformationCircleIcon class="w-6 h-6 flex-shrink-0" />
        <p>
          У разных инструментов есть свое расписание и время начала и окончания торгов. Если
          торговая сессия по инструменту закончена, статус инструмента будет
          <strong class="text-red-500">недоступен</strong> и выполнить заявку не получится.
        </p>
      </div>
      <fieldset class="border border-solid border-gray-300 p-3 rounded-md w-full bg-gray-50">
        <legend class="text-sm">Фильтер</legend>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
          <select v-model="filterForm.instrumentType" class="tink-input">
            <option selected class="px-4" value="">Выбрать тип</option>
            <option v-for="(option, index) in typesList" :key="index" :value="option" class="px-4">
              {{ option }}
            </option>
          </select>
          <input
            v-model="filterForm.ticker"
            type="text"
            id="ticker"
            placeholder="Тикер"
            class="tink-input"
          />
          <input
            v-model="filterForm.name"
            type="text"
            id="name"
            placeholder="Название"
            class="tink-input"
          />
          <input
            v-model="filterForm.offset"
            type="text"
            id="offset"
            placeholder="Компенсации"
            class="tink-input"
          />
        </div>
      </fieldset>
    </div>
    <div class="w-full h-[400px] overflow-y-scroll mt-2">
      <div
        v-if="instruments && instruments?.length && !loading"
        class="mt-2 grid lg:grid-cols-2 grid-cols-1 gap-4 pr-2"
      >
        <InstrumentCard
          v-for="instrument in instruments"
          :key="instrument?.id"
          :instrument="instrument"
          :checkStatus="checkStatus"
          @onSelectInstrument="handleGetInstrument"
        />
      </div>
      <div
        v-if="instruments && !instruments?.length && !loading"
        class="flex justify-center items-center h-full w-full"
      >
        Ничего не найдено
      </div>
      <div v-if="loading" class="flex justify-center items-center h-full w-full">Загрузка...</div>
    </div>

    <div class="flex items-center space-x-3 justify-between mt-2">
      <div class="space-x-2">
        <button
          type="button"
          :disabled="selectedInstrument === null"
          class="p-2 tink-primary-btn"
          @click.prevent="confirmSelection"
        >
          Выбрать
        </button>
        <button
          @click.prevent="closeDialog"
          type="button"
          class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100"
        >
          Отменить
        </button>
      </div>

      <div>
        <PaginationManager
          v-if="instruments && instruments.length"
          v-slot="{ prevPage, nextPage }"
          :do-pagination="handlerFilter"
        >
          <div class="inline-flex items-center space-x-4 mr-3">
            <PaginationSectionComponent
              @onPrev="prevPage(filterForm)"
              @onNext="nextPage(filterForm)"
            />
          </div>
        </PaginationManager>
      </div>
    </div>
  </div>
</template>

<style scoped></style>
