<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'SelectWidgetComponent',
  props: {
    widgetData: {
      type: Object,
      require: true
    },
    currentWidget: String
  },

  emits: ['on-select-widget'],

  methods: {
    handleWidgetSelection() {
      this.$emit('on-select-widget', this.widgetData.value)
    }
  }
})
</script>

<template>
  <li class="group flex space-x-2 w-full mb-4">
    <button
      @click="handleWidgetSelection"
      type="button"
      class="w-full px-4 py-3 border rounded-lg bg-white group-hover:bg-gray-100 transition-colors"
      :class="[
        widgetData?.value === currentWidget
          ? 'text-gray-700 border-gray-900'
          : 'text-gray-500 border-gray-200'
      ]"
    >
      <span class="flex items-center justify-between">
        <span class="sr-only">widget operation</span>
        <span>{{ widgetData?.label }}</span>
      </span>
    </button>
  </li>
</template>
