<script setup>
import { TrashIcon, EyeIcon } from '@heroicons/vue/24/outline'
import { EXPIRED, FAILURE, IN_PROGRESS, PARTLY, SUCCESS } from '../../../constants/conts'
import { useStore } from 'vuex'
import { useGetStrategyStatus } from '../../../use/useGetStrategyStatus'
import { usePrice } from '../../../use/usePrice'
import { formatISODate } from '../../../use/useCustomISOStringToDate'
import { orderTypesList, useGetStrategyType } from '../../../use/useGetStrategyType'

defineProps({
  userStrategies: {
    type: Array,
    default: () => []
  }
})

const store = useStore()
function handleDeleteStrategy(strategy, deleteStrategy) {
  async function handleDelete() {
    deleteStrategy(strategy)
  }

  store.commit('SET_OPEN_DELETE_MODAL', {
    open: true,
    confirmCallback: handleDelete,
    fullBtnLabel: null,
    rejectCallback: null,
    message: ''
  })
}

function deleteStrategy(strategy) {
  store.dispatch('Strategies/deleteStrategy', strategy.id)
}
</script>

<template>
  <table class="w-full text-sm text-left text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3"># ID</th>
        <th scope="col" class="px-6 py-3">Инструмент</th>
        <th scope="col" class="px-6 py-3">Тип заявки</th>
        <th scope="col" class="px-6 py-3">Дата</th>
        <th scope="col" class="px-6 py-3">Интервал</th>
        <th scope="col" class="px-6 py-3">Сделки</th>
        <th scope="col" class="px-6 py-3">Объем</th>
        <th scope="col" class="px-6 py-3">Статус</th>
        <th class="px-6 py-3"></th>
      </tr>
    </thead>
    <tbody class="[&>*:nth-child(even)]:bg-gray-100 [&>*:nth-child(odd)]:bg-white">
      <tr
        v-for="operation in userStrategies"
        :key="operation.id"
        class="border-b hover:bg-gray-100"
      >
        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
          {{ operation.id }}
        </th>
        <td class="px-6 py-4">{{ operation.instrumentDTO?.name }}</td>
        <td class="px-6 py-4 text-blue-600">
          {{ useGetStrategyType(operation?.orderType) }}
        </td>
        <td class="px-6 py-4">{{ formatISODate(operation.dateOfEnd) }}</td>
        <td class="px-6 py-4">
          {{ usePrice(operation.buyPrice, operation.instrumentDTO?.currency) }} -
          {{ usePrice(operation.sellPrice, operation.instrumentDTO?.currency) }}
        </td>
        <td class="px-6 py-4">{{ operation.executedOperation }}</td>
        <td class="px-6 py-4">{{ operation.volume }}</td>
        <td>
          <span
            :class="{
              'text-green-500': operation.status === SUCCESS,
              'text-blue-500': operation.status === IN_PROGRESS,
              'text-red-500': operation.status === FAILURE,
              'text-yellow-500': operation.status === PARTLY,
              'text-gray-500': operation.status === EXPIRED
            }"
            class="py-1.5 px-3 rounded-md text-md"
            >{{ useGetStrategyStatus(operation.status) }}</span
          >
        </td>
        <td @click.stop.prevent class="flex space-x-6 mt-10 lg:mt-3 pr-2">
          <button type="button" @click.prevent="handleDeleteStrategy(operation, deleteStrategy)">
            <TrashIcon class="h-5 w-5 text-gray-500 outline-none hover:text-red-500" />
          </button>
          <router-link
            v-if="operation?.history && operation?.history?.length > 0"
            :to="{ name: 'StrategyStatePage', params: { id: operation.id } }"
            type="button"
          >
            <EyeIcon class="h-6 w-6 text-gray-500 outline-none hover:text-blue-500" />
          </router-link>
        </td>
      </tr>
    </tbody>
  </table>
</template>
