<script>
import { useStore } from 'vuex'
import { computed, ref } from 'vue'
import { useGetCurrencySymbol } from '../../../use/useGetCurrencySymbol'

export default {
  props: {
    chartData: {
      type: Array,
      default: () => []
    }
  },

  setup() {
    /*const chartData = ref(props.chartData)*/

    const store = useStore()

    const loading = computed(() => store.getters['Instruments/loading'])
    const currency = ref('rub')
    let dps1 = computed(() => store.getters['Instruments/dps1'])
    let dps3 = computed(() => store.getters['Instruments/dps3'])

    const options = {
      theme: '',
      backgroundColor: '#ffffff',
      exportEnabled: false,
      charts: [
        {
          toolTip: {
            shared: true
          },
          axisX: {
            lineThickness: 5,
            tickLength: 0,
            labelFormatter: function () {
              return ''
            }
          },
          axisY: {
            prefix: useGetCurrencySymbol('ru-RU', currency.value),
            includeZero: false,
            labelFormatter: addSymbols
          },
          legend: {
            verticalAlign: 'top'
          },
          data: [
            {
              showInLegend: false,
              name: 'Цена акции',
              yValueFormatString: `#,###.##${useGetCurrencySymbol('ru-RU', currency.value)}`,
              type: 'candlestick',
              dataPoints: dps1
            }
          ]
        }
      ],
      navigator: {
        data: [
          {
            dataPoints: dps3
          }
        ],
        slider: {
          minimum: new Date(2023, 7, 1),
          maximum: new Date(2025, 8, 1),
          maskColor: 'rgba(66,65,65,0.48)'
        }
      },
      rangeSelector: {
        enabled: false,
        inputFields: {
          startValue: new Date(2018, 6, 1),
          endValue: new Date(2018, 7, 31)
        }
      }
    }
    const styleOptions = {
      width: '100%',
      height: '450px'
    }

    function addSymbols(e) {
      let suffixes = ['', 'K', 'M', 'B']
      let order = Math.max(Math.floor(Math.log(Math.abs(e.value)) / Math.log(1000)), 0)
      if (order > suffixes.length - 1) order = suffixes.length - 1
      let suffix = suffixes[order]
      return roundToDecimalPlaces(e.value / Math.pow(1000, order) + suffix, 2)
    }
    function roundToDecimalPlaces(number, decimalPlaces) {
      const factor = 10 ** decimalPlaces
      return Math.round(number * factor) / factor
    }

    return {
      loading,
      options,
      styleOptions
    }
  }
}
</script>
<template>
  <CanvasJSStockChart
    :options="options"
    v-if="chartData?.length && !loading"
    :style="styleOptions"
  />
  <div v-else class="w-full h-[400px] fle justify-center items-center text-gray-500">
    По выбранным параметрам пока нет данных
  </div>
</template>
