<script>
import { mapActions, mapGetters } from 'vuex'
import { helpers, required } from '@vuelidate/validators'
import useVuelidate from '@vuelidate/core'
import ErrorComponent from '../../../components/common/ErrorComponent.vue'

export default {
  name: 'AddTokenForm',
  components: { ErrorComponent },

  data() {
    return {
      v$: useVuelidate(),
      serviceToken: null
    }
  },

  computed: {
    ...mapGetters({
      loading: 'loading'
    })
  },

  methods: {
    ...mapActions({
      setServiceTokenAction: 'setServiceToken'
    }),
    handleSubmitToken() {
      this.v$.serviceToken.$touch()

      if (!this.v$.serviceToken.$error) {
        this.setServiceTokenAction({
          token: this.serviceToken
        }).then(() => this.serviceToken === null)
      }
    }
  },

  validations() {
    return {
      serviceToken: {
        required: helpers.withMessage('Токен не может быть пустой', required)
      }
    }
  }
}
</script>

<template>
  <form @submit.prevent="handleSubmitToken" class="mt-6 p-6 rounded-xl bg-gray-50 w-full">
    <div class="space-y-2">
      <label for="token">Токен подключения</label>
      <div>
        <input
          v-model="v$.serviceToken.$model"
          type="text"
          id="token"
          placeholder=""
          class="tink-input"
        />
        <ErrorComponent :errors="v$.serviceToken.$errors" />
      </div>
    </div>
    <div class="flex justify-start items-center space-x-4 mt-5">
      <button type="submit" class="tink-primary-btn">
        {{ loading ? 'В работе...' : 'Применить' }}
      </button>
    </div>
  </form>
</template>
