<script>
import { usePrice } from '../../../use/usePrice'

export default {
  name: 'BalanceCard',
  props: {
    balancePrice: {
      type: [Number, String],
      required: true
    },
    currency: {
      type: [Number, String],
      required: true
    },
    label: {
      type: String,
      required: true
    }
  },
  methods: { usePrice }
}
</script>

<template>
  <div class="border bg-white rounded-md p-6" v-if="balancePrice !== null && currency !== null">
    <p class="text-gray-500">{{ label }}</p>
    <p class="pt-4 font-black text-xl">
      {{ currency && usePrice(balancePrice, currency) }}
    </p>
  </div>
</template>

<style scoped></style>
