<script>
import { mapActions } from 'vuex'
import { helpers, minLength, required } from '@vuelidate/validators'
import useVuelidate from '@vuelidate/core'
import ErrorComponent from '../../../components/common/ErrorComponent.vue'
import { validPassword } from '../utils/securityUtils'
import { SecurityRequests } from '../requests'
import { useHttpResponseHandler } from '../../../use/useHttpResponseHandler'
import { HandleErrorRequest } from '../../../use/useToast'

export default {
  name: 'EditCredentialsForm',
  components: { ErrorComponent },

  data() {
    return {
      v$: useVuelidate(),
      isLoading: false,
      credentialsForm: {
        currentLogin: null,
        currentPassword: null,
        newPassword: null,
        newLogin: null
      }
    }
  },

  watch: {
    user: {
      immediate: true,
      deep: true,

      handler(user) {
        if (user) {
          this.credentialsForm.newLogin = user.username
          this.credentialsForm.currentLogin = user.username
        }
      }
    }
  },

  computed: {
    user() {
      return this.$store.state.userInfo
    }
  },

  methods: {
    ...mapActions({
      setServiceTokenAction: 'setServiceToken'
    }),

    async handleSubmitToken() {
      this.v$.credentialsForm.$touch()
      this.isLoading = true
      if (!this.v$.credentialsForm.$error) {
        try {
          const { data } = await SecurityRequests.putUserCredentials(this.credentialsForm)
          this.$store.commit('LOGIN_SUCCESS', data)
          useHttpResponseHandler().successRequest('Учетные данные успешно обновлены')
          this.credentialsForm.currentPassword = ''
          this.credentialsForm.newPassword = ''
          this.v$.credentialsForm.$reset()
        } catch (e) {
          HandleErrorRequest()
        } finally {
          this.isLoading = false
        }
      }
    }
  },

  validations() {
    return {
      credentialsForm: {
        currentPassword: { required: helpers.withMessage('Требуется пароль', required) },
        newLogin: {
          required: helpers.withMessage('Логин не может быть пустой', required)
        },
        newPassword: {
          required: helpers.withMessage('Требуется пароль', required),
          name_validation: {
            $validator: validPassword,
            $message:
              'Пароль должен содержать один символ, например, ! @# ?, одна цифра и без пробелов'
          },
          minLength: helpers.withMessage('Длина не менее 5 символов', minLength(5))
        }
      }
    }
  }
}
</script>

<template>
  <form @submit.prevent="handleSubmitToken" class="mt-6 p-6 rounded-xl bg-gray-50 w-full">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-3">
      <div class="space-y-2">
        <label for="token">Новый логин</label>
        <div>
          <input
            v-model="v$.credentialsForm.newLogin.$model"
            type="text"
            id="username"
            class="tink-input"
          />
          <ErrorComponent :errors="v$.credentialsForm.newLogin.$errors" />
        </div>
      </div>
      <div class="space-y-2">
        <label for="token">Пароль</label>
        <div>
          <input
            v-model="v$.credentialsForm.currentPassword.$model"
            type="password"
            id="password"
            class="tink-input"
          />
          <ErrorComponent :errors="v$.credentialsForm.currentPassword.$errors" />
        </div>
      </div>
      <div class="space-y-2">
        <label for="token">Новый пароль</label>
        <div>
          <input
            v-model="v$.credentialsForm.newPassword.$model"
            type="password"
            id="newPassword"
            class="tink-input"
          />
          <ErrorComponent :errors="v$.credentialsForm.newPassword.$errors" />
        </div>
      </div>
    </div>
    <div class="flex justify-start items-center space-x-4 mt-5">
      <button type="submit" class="tink-primary-btn">
        {{ isLoading ? 'В работе...' : 'Применить' }}
      </button>
    </div>
  </form>
</template>
