<template>
  <div class="flex items-center justify-center h-screen w-full overflow-hidden">
    <div class="absolute bg-black opacity-10 inset-0 z-0"></div>
    <div class="w-full max-w-lg relative mx-auto my-auto bg-white rounded-3xl">
      <form @submit.prevent="handleCheckToken" class="p-8 space-y-6">
        <h2 class="text-md lg:text-xl font-bold text-center">
          Для подключения к сервису Тинькофф-инвестиции необходимо ввести токен
        </h2>
        <input type="text" id="token" name="token" class="tink-input" />
        <button type="submit" class="tink-primary-btn w-full">Подкючение</button>
      </form>
    </div>
  </div>
</template>
<script>
import { defineComponent, onBeforeMount } from 'vue'
import { useRouter } from 'vue-router'
export default defineComponent({
  name: 'HomePage',

  setup() {
    const router = useRouter()

    const handleCheckToken = () => {
      // request

      // verification

      // redirect

      router.push({ name: 'OperationsListView' })
    }

    onBeforeMount(() => {})

    return {
      handleCheckToken
    }
  }
})
</script>
