<template>
  <header class="w-full">
    <nav class="bg-white border-gray-200 py-4 shadow">
      <div class="flex items-center justify-between max-w-screen-xl px-4 mx-auto">
        <router-link :to="{ name: 'StrategyListPage' }">
          <h1 class="font-bold hidden lg:block hover:text-gray-900">Тинькофф-инвестиции</h1>
          <h1 class="font-bold lg:hidden hover:text-gray-900">Тинькофф</h1>
        </router-link>
        <div>
          <div v-if="isAuthenticated" class="relative inline-block text-left ml-2">
            <button
              type="button"
              @click="isOpen = true"
              class="flex items-center cursor-pointer space-x-1 text-gray-500 group border-gray-100 p-0.5 px-2 py-1 rounded-md"
            >
              <span
                class="w-9 h-9 rounded-full overflow-hidden bg-gray-100 flex items-center justify-center"
              >
                <span class="font-bold uppercase">{{
                  userInfo && userInfo?.username?.charAt(0)
                }}</span>
              </span>
              <ChevronDownIcon class="h-5 w-5 text-gray-400 group-hover:text-gray-500" />
            </button>

            <div
              v-if="isOpen"
              v-on-click-outside="closeModal"
              class="absolute right-0 z-10 mt-5 w-56 rounded-md origin-top-right bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            >
              <div class="pt-6">
                <div v-if="userInfo?.isTokenCreated" class="mx-6">
                  <router-link
                    @click="isOpen = !isOpen"
                    :to="{ name: 'StrategyListPage' }"
                    :class="[
                      'block px-4 py-3 text-md hover:bg-gray-100 hover:text-gray-900 rounded-md ho'
                    ]"
                    >Все Операции</router-link
                  >
                </div>
                <div v-if="userInfo?.isTokenCreated" class="mx-6">
                  <router-link
                    @click="isOpen = !isOpen"
                    :to="{ name: 'StrategyOverviewPage' }"
                    :class="[
                      'block px-4 py-3 text-md hover:bg-gray-100 hover:text-gray-900 rounded-md ho'
                    ]"
                    >Рабочий стол</router-link
                  >
                </div>

                <div class="mx-6 mb-6">
                  <router-link
                    @click="isOpen = !isOpen"
                    :to="{ name: 'PersonalAccountPage' }"
                    :class="[
                      'block px-4 py-3 text-md hover:bg-gray-100 hover:text-gray-900 rounded-md ho'
                    ]"
                    >Личный Кабинет</router-link
                  >
                </div>
                <div class="border-t">
                  <div class="px-10">
                    <button
                      @click.prevent="logout"
                      type="button"
                      :class="['block w-full pl-10 py-3 text-left text-md']"
                    >
                      Выйти
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <router-link
            v-else
            :to="{ name: isAuthenticated ? 'AddTokenPage' : 'LoginPage' }"
            class="inline-flex items-center space-x-2 hover:text-blue-900"
          >
            <span class="text-black hidden lg:block"> Личный кабинет </span>
            <div class="p-2 bg-gray-100 rounded-full">
              <LoginIcon class="h-6 w-6 text-blue-500" />
            </div>
          </router-link>
        </div>
      </div>
    </nav>
  </header>
</template>
<script setup>
import { ChevronDownIcon } from '@heroicons/vue/24/solid'
import { useStore } from 'vuex'
import { computed, ref } from 'vue'
import LoginIcon from '../assets/icons/LoginIcon.vue'
import { vOnClickOutside } from '@vueuse/components'
const store = useStore()
const isOpen = ref(false)
const isAuthenticated = computed(() => store.state.status.loggedIn)
const userInfo = computed(() => store.getters['userInfo'])

function closeModal() {
  isOpen.value = false
}
function logout() {
  isOpen.value = false
  store.dispatch('logout')
}
</script>
