<script>
import AddTokenForm from '../partials/AddTokenForm.vue'

export default {
  name: 'AddTokenPage',
  components: { AddTokenForm },

  beforeMount() {
    if (this.isTokenCreated) {
      this.$router.push({ name: 'StrategyListPage' })
    }
  },

  computed: {
    isTokenCreated() {
      return this.$store.state.userInfo.isTokenCreated
    }
  }
}
</script>

<template>
  <div class="overflow-hidden max-w-screen-xl w-full mx-auto mt-6">
    <div class="p-6 bg-gray-50">
      <h2 class="text-red-500 text-xl">Токен еще не добавлен</h2>
      <div class="text-gray-400 mt-3">
        Чтобы начать работать с платформой, вам необходимо добавить токен из учетной записи сервиса
        <a href="https://www.tinkoff.ru/" target="_blank" class="text-blue-900 underline"
          >Тинькофф-инвестиции</a
        >
      </div>
    </div>

    <AddTokenForm />
  </div>
</template>
