<script>
import useVuelidate from '@vuelidate/core'
import { required, helpers } from '@vuelidate/validators'
import { mapActions, mapGetters } from 'vuex'
import ErrorComponent from '../../../components/common/ErrorComponent.vue'
export default {
  name: 'LoginPage',
  components: { ErrorComponent },

  data() {
    return {
      v$: useVuelidate(),

      loginForm: {
        username: '',
        password: ''
      }
    }
  },

  computed: {
    ...mapGetters({
      loading: 'loading'
    }),

    loggedIn() {
      return this.$store.state.status.loggedIn
    }
  },

  created() {
    if (this.loggedIn) {
      this.$router.push({ name: 'StrategyListPage' })
    }
  },

  methods: {
    ...mapActions({
      loginAction: 'login'
    }),

    login() {
      this.v$.loginForm.$touch()
      if (!this.v$.loginForm.$error) {
        this.loginAction(this.loginForm)
      }
    }
  },

  validations() {
    return {
      loginForm: {
        username: {
          required: helpers.withMessage('Логин не может быть пустой', required)
        },
        password: {
          required: helpers.withMessage('Требуется пароль', required)
        }
      }
    }
  }
}
</script>

<template>
  <section>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
      <div class="w-full bg-white border rounded-lg md:mt-0 max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 lg:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tigh text-center text-gray-900 md:text-2xl"
          >
            Авторизация
          </h1>
          <form @submit.prevent="login" class="space-y-4 md:space-y-6">
            <div>
              <label for="username" class="block mb-2 text-sm font-medium text-gray-900"
                >Логин</label
              >
              <input
                v-model="v$.loginForm.username.$model"
                type="text"
                id="username"
                class="tink-input"
                autocomplete="username"
              />
              <ErrorComponent :errors="v$.loginForm.username.$errors" />
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900"
                >Пароль</label
              >
              <input
                v-model="v$.loginForm.password.$model"
                type="password"
                id="password"
                class="tink-input"
                autocomplete="current-password"
              />
              <ErrorComponent :errors="v$.loginForm.password.$errors" />
            </div>
            <div>
              <button type="submit" class="tink-primary-btn w-full">
                {{ loading ? 'В работе...' : 'Вход' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped></style>
