<script>
import AddTokenForm from '../partials/AddTokenForm.vue'
import TokenStatus from '../../../components/common/TokenStatus.vue'
import { mapActions, mapGetters } from 'vuex'
import { useGetCurrencySymbol } from '../../../use/useGetCurrencySymbol'
import { usePrice } from '../../../use/usePrice'
import BalanceCard from '../partials/BalanceCard.vue'
import EditCredentialsForm from '../partials/EditCredentialsForm.vue'
import { Tab, TabGroup, TabList, TabPanel, TabPanels } from '@headlessui/vue'

export default {
  name: 'PersonalAccountPage',
  components: {
    TabPanel,
    TabPanels,
    Tab,
    TabList,
    TabGroup,
    EditCredentialsForm,
    BalanceCard,
    TokenStatus,
    AddTokenForm
  },

  beforeMount() {
    if (this.isTokenCreated) {
      this.getBalancesAction()
    }
  },

  methods: {
    usePrice,
    useGetCurrencySymbol,
    ...mapActions({
      getBalancesAction: 'Instruments/getInstrumentBalances'
    })
  },

  computed: {
    ...mapGetters({
      balances: 'Instruments/balances'
    }),

    isTokenCreated() {
      return this.$store.state.userInfo.isTokenCreated
    },

    user() {
      return this.$store.state.userInfo
    }
  }
}
</script>

<template>
  <div class="overflow-y-auto h-full w-full px-4 py-6">
    <div class="flex lg:flex-row flex-col mb-[70px] h-full max-w-screen-xl mx-auto">
      <div class="lg:w-[300px] w-full">
        <h5 class="text-2xl text-gray-900 first-letter:capitalize">личный кабинет</h5>

        <div class="mt-8">
          <div
            class="w-20 h-20 rounded-full overflow-hidden bg-gray-100 flex items-center justify-center"
          >
            <span class="font-bold text-3xl uppercase">{{
              user && user?.username?.charAt(0)
            }}</span>
          </div>
          <div class="mt-4 space-y-2 flex flex-col">
            <p class="font-bold text-xl capitalize pb-4">{{ user.name }}</p>
            <div class="inline-flex space-x-2">
              <p class="text-gray-300">Логин:</p>
              <p>{{ user.username }}</p>
            </div>
            <TokenStatus :is-token-created="isTokenCreated" />
          </div>
        </div>
      </div>
      <div class="flex-1">
        <div>
          <h1 class="capitalize" v-if="balances.totalAmountCurrencies?.value">
            инвестиционный счет
          </h1>

          <div class="grid grid-cols-1 lg:grid-cols-3 gap-3 py-6">
            <BalanceCard
              label="Bonds"
              :balance-price="balances.totalAmountBonds?.value"
              :currency="balances.totalAmountBonds?.currency"
            />

            <BalanceCard
              label="Currencies"
              :balance-price="balances.totalAmountCurrencies?.value"
              :currency="balances.totalAmountCurrencies?.currency"
            />
            <BalanceCard
              label="ETF"
              :balance-price="balances.totalAmountEtf?.value"
              :currency="balances.totalAmountEtf?.currency"
            />
            <BalanceCard
              label="Futures"
              :balance-price="balances.totalAmountFutures?.value"
              currency="rub"
            />
            <BalanceCard
              label="Shares"
              :balance-price="balances.totalAmountShares?.value"
              :currency="balances.totalAmountShares?.currency"
            />
          </div>
        </div>

        <div class="mb-[100px]">
          <TabGroup>
            <TabList
              class="text-sm flex flex-wrap -mb-px font-medium text-center text-gray-500 border-b border-gray-200"
            >
              <Tab as="template" class="lg:me-2" v-slot="{ selected }"
                ><button
                  :class="{ 'text-blue-400 border-blue-400 border-b-2': selected }"
                  class="inline-block p-4 rounded-t-lg focus:outline-0 transition-all duration-200"
                >
                  Токен подключения
                </button></Tab
              >
              <Tab as="template" v-slot="{ selected }"
                ><button
                  :class="{ 'text-blue-400 border-blue-400 border-tk border-b-2': selected }"
                  class="inline-block p-4 rounded-t-lg focus:outline-0 transition-all duration-200"
                >
                  Логин и Пароль
                </button></Tab
              >
            </TabList>
            <TabPanels>
              <TabPanel>
                <AddTokenForm />
              </TabPanel>
              <TabPanel>
                <EditCredentialsForm />
              </TabPanel>
            </TabPanels>
          </TabGroup>
        </div>
      </div>
    </div>
  </div>
</template>
