<script>
import useVuelidate from '@vuelidate/core'
import { required, helpers, minLength } from '@vuelidate/validators'
import { mapActions } from 'vuex'
import ErrorComponent from '../../../components/common/ErrorComponent.vue'
import { validPassword } from '../utils/securityUtils'
export default {
  name: 'RegisterPage',
  components: { ErrorComponent },

  data() {
    return {
      v$: useVuelidate(),

      registerForm: {
        name: '',
        username: '',
        password: ''
      }
    }
  },

  computed: {
    loggedIn() {
      return this.$store.state.status.loggedIn
    }
  },

  created() {
    if (this.loggedIn) {
      this.$router.push({ name: 'StrategyListPage' })
    }
  },

  methods: {
    ...mapActions({
      registerAction: 'registerUser'
    }),

    handleRegister() {
      this.v$.registerForm.$touch()
      if (!this.v$.registerForm.$error) {
        this.registerAction(this.registerForm)
      }
    }
  },

  validations() {
    return {
      registerForm: {
        name: {
          required: helpers.withMessage('Имя не может быть пустой', required),
          minLength: helpers.withMessage('Длина не менее 2 символов', minLength(2))
        },
        username: {
          required: helpers.withMessage('Логин не может быть пустой', required)
        },
        password: {
          required: helpers.withMessage('Требуется пароль', required),
          name_validation: {
            $validator: validPassword,
            $message:
              'Пароль должен содержать один символ, например, ! @# ?, одна цифра и без пробелов'
          },
          minLength: helpers.withMessage('Длина не менее 5 символов', minLength(5))
        }
      }
    }
  }
}
</script>

<template>
  <section>
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto h-screen lg:py-0">
      <div class="w-full rounded-lg border md:mt-0 lg:max-w-md xl:p-0">
        <div class="p-6 space-y-4 md:space-y-6 lg:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tigh text-center text-gray-900 md:text-2xl"
          >
            РЕГИСТРАЦИЯ
          </h1>
          <form @submit.prevent="handleRegister" class="space-y-4 md:space-y-6" autocomplete="off">
            <div>
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Имя</label>
              <input
                v-model="v$.registerForm.name.$model"
                type="text"
                id="name"
                class="tink-input"
              />
              <ErrorComponent :errors="v$.registerForm.name.$errors" />
            </div>
            <div>
              <label for="username" class="block mb-2 text-sm font-medium text-gray-900"
                >Логин</label
              >
              <input
                v-model="v$.registerForm.username.$model"
                type="text"
                id="username"
                class="tink-input"
              />
              <ErrorComponent :errors="v$.registerForm.username.$errors" />
            </div>
            <div>
              <label for="password" class="block mb-2 text-sm font-medium text-gray-900"
                >Пароль</label
              >
              <input
                v-model="v$.registerForm.password.$model"
                type="password"
                id="password"
                class="tink-input"
              />
              <ErrorComponent :errors="v$.registerForm.password.$errors" />
            </div>
            <div class="">
              <button type="submit" class="tink-primary-btn w-full">Зарегистироваться</button>
              <p class="text-sm font-light text-gray-500 text-center mt-4">
                Есть аккуант?
                <router-link
                  :to="{ name: 'LoginPage' }"
                  class="font-medium text-primary-600 hover:underline"
                  >Войти</router-link
                >
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<style scoped></style>
