<template>
  <form class="group relative w-full" @submit.prevent="handleSearch">
    <MagnifyingGlassIcon
      class="absolute w-5 top-4 left-3 -mt-2.5 text-slate-400 pointer-events-none group-focus-within:text-gray-500"
    />
    <input
      id="searchbox"
      :placeholder="placeholder"
      v-model="query"
      @input.prevent="handleSearch"
      @keyup.delete="handleSearch"
      @keyup.enter.prevent="handleSearch"
      :class="`${searchPyStyle}`"
      class="focus:ring-2 focus:ring-gray-500 focus:outline-none appearance-none w-full text-sm leading-6 text-slate-900 placeholder-slate-400 rounded-md pl-10 pr-3 ring-1 ring-gray-200 shadow-sm"
      type="search"
      aria-label="Search"
    />
  </form>
</template>

<script>
import { mapActions } from 'vuex'
import { MagnifyingGlassIcon } from '@heroicons/vue/24/outline'
export default {
  name: 'BaseSearch',
  components: { MagnifyingGlassIcon },

  props: {
    placeholder: {
      type: String,
      default: 'Search...'
    },
    searchPyStyle: {
      type: String,
      default: 'py-1.5'
    }
  },

  data() {
    return {
      query: ''
    }
  },

  emits: ['onClean', 'onSearch'],

  mounted() {
    document.getElementById('searchbox').addEventListener('search', this.handleClean)
  },

  methods: {
    ...mapActions({
      searchQuery: 'searchQuery'
    }),

    handleSearch() {
      this.searchQuery(this.query)
      this.$emit('onSearch', this.query)
    },

    handleClean() {
      this.$emit('onClean')
    }
  }
}
</script>
