<template>
  <nav v-if="!pageableForm.empty" class="inline-flex space-x-2 rounded-md" aria-label="Pagination">
    <button
      @click.prevent="prev"
      :disabled="canNotGoPrev"
      :class="canNotGoPrev ? 'cursor-not-allowed' : ''"
      type="button"
      class="relative inline-flex items-center rounded-full border px-2 bg-white py-2 text-gray-400 hover:bg-gray-50 focus:outline-0"
    >
      <ChevronLeftIcon class="w-5 h-5" />
      <span class="sr-only">Previous</span>
    </button>
    <button
      @click.prevent="next"
      type="button"
      :disabled="canNotGoNext"
      :class="canNotGoNext ? 'cursor-not-allowed' : ''"
      class="relative inline-flex items-center rounded-full border px-2 bg-white py-2 text-gray-400 hover:bg-gray-50 focus:outline-0"
    >
      <span class="sr-only">Next</span>
      <ChevronRightIcon class="w-5 h-5" />
    </button>
  </nav>
</template>

<script>
import { ChevronLeftIcon, ChevronRightIcon } from '@heroicons/vue/24/outline'
import { mapGetters } from 'vuex'
export default {
  name: 'PaginationSectionComponent',
  components: { ChevronLeftIcon, ChevronRightIcon },

  computed: {
    ...mapGetters({
      pageableForm: 'pageableForm',
      lastVisitedPage: 'lastVisitedPage'
    }),

    canNotGoNext() {
      return this.pageableForm.totalPages - 1 < this.lastVisitedPage
    },

    canNotGoPrev() {
      return this.lastVisitedPage <= 0
    }
  },

  emits: ['onPrev', 'onNext'],

  methods: {
    prev() {
      this.$emit('onPrev')
    },

    next() {
      this.$emit('onNext')
    }
  }
}
</script>
