<template>
  <div class="w-full h-[500px] overflow-hidden flex items-center justify-center">
    <div
      class="flex lg:space-y-0 space-y-4 items-center lg:flex-row flex-col-reverse rounded-md lg:space-x-4 space-x-0 bg-gray-100 p-6"
    >
      <router-link :to="{ name: 'StrategyListPage' }" class="lg:mt-0 mt-4">
        <span class="capitalize underline text-gray-500 px-4 py-2 hover:text-gray-700"
          >{{ 'личный кабинет' }}
        </span>
      </router-link>
      <router-link
        v-if="isAuthenticated"
        :to="{ name: 'CreateStrategyPage' }"
        class="tink-primary-btn inline-flex space-x-2 text-lg"
      >
        <PlusIcon class="h-6 w-6" />
        <span>Создать операцию</span>
      </router-link>
    </div>
  </div>
</template>
<script>
import { PlusIcon } from '@heroicons/vue/24/outline'

export default {
  name: 'HomePage',
  components: { PlusIcon },

  computed: {
    isTokenCreated() {
      return this.$store.state.userInfo.isTokenCreated
    },

    isAuthenticated() {
      return this.$store.state.status.loggedIn
    }
  },

  created() {
    if (this.isAuthenticated) {
      this.$router.push({ name: 'StrategyListPage' })
    }
  }
}
</script>
