<template>
  <TransitionRoot :show="open" as="template" class="z-50">
    <ModalDialog as="div" class="fixed z-50 inset-0 overflow-y-auto" @close="onClose">
      <div
        class="flex items-end justify-center min-h-screen pt-4 pb-20 text-center lg:block lg:p-0"
      >
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0"
          enter-to="opacity-100"
          leave="ease-in duration-200"
          leave-from="opacity-100"
          leave-to="opacity-0"
        >
          <DialogOverlay class="fixed inset-0 bg-black bg-opacity-25 transition-opacity" />
        </TransitionChild>
        <span aria-hidden="true" class="hidden lg:inline-block lg:align-middle lg:h-screen"
          >&#8203;</span
        >
        <TransitionChild
          as="template"
          enter="ease-out duration-300"
          enter-from="opacity-0 translate-y-4 lg:translate-y-0 lg:scale-95"
          enter-to="opacity-100 translate-y-0 lg:scale-100"
          leave="ease-in duration-200"
          leave-from="opacity-100 translate-y-0 lg:scale-100"
          leave-to="opacity-0 translate-y-4 lg:translate-y-0 lg:scale-95"
        >
          <div
            :class="[isInstruments ? 'max-w-screen-lg' : 'max-w-md']"
            class="inline-block align-bottom bg-white rounded w-full md:h-auto overflow-hidden shadow-xl transform transition-all lg:align-middle"
          >
            <div class="lg:p-8 p-3 text-left">
              <slot />
            </div>
          </div>
        </TransitionChild>
      </div>
    </ModalDialog>
  </TransitionRoot>
</template>

<script>
import {
  DialogOverlay,
  TransitionChild,
  TransitionRoot,
  Dialog as ModalDialog
} from '@headlessui/vue'
import { mapGetters } from 'vuex'

export default {
  components: {
    DialogOverlay,
    TransitionChild,
    TransitionRoot,
    ModalDialog
  },

  props: {
    open: {
      type: Boolean,
      required: true
    },
    isInstruments: {
      type: Boolean,
      default: false
    }
  },

  computed: {
    ...mapGetters({
      isDeleting: 'isDeleting',
      deleteModalForm: 'deleteModalForm'
    })
  },

  methods: {
    onClose() {
      this.$emit('on-close', !this.open)
    }
  }
}
</script>
