<template>
  <button
    type="button"
    @click.prevent="handleConfirmDeletion"
    class="inline-flex items-center space-x-2 px-3 bg-red-500 text-white py-2 outline-none rounded-md border"
    :disabled="deleteLoading"
    :class="!deleteLoading ? ' hover:bg-red-600' : 'cursor-not-allowed'"
  >
    <span v-if="deleteLoading">{{ deleteLoading ? 'animate-spin' : '' }}</span>
    <span class="text-sm first-letter:uppercase"> {{ label }}</span>
  </button>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'ConfirmDeletionBtn',
  props: {
    label: String
  },

  emits: ['onConfirmDelete'],
  computed: {
    ...mapGetters({
      deleteLoading: 'isDeleting'
    })
  },

  methods: {
    handleConfirmDeletion() {
      this.$emit('onConfirmDelete')
    }
  }
}
</script>
