<template>
  <BaseModal :open="deleteModalForm?.open" @onClose="onClose">
    <div>
      <h2 class="mb-4 font-semibold text-slate-800 text-lg">
        Вы уверены, что хотите удалить эту операцию?
      </h2>

      <div v-if="!!deleteModalForm?.message">
        {{ deleteModalForm?.message }}
      </div>
      <div v-else class="flex justify-end items-center space-x-4 mt-5">
        <button
          @click="onClose"
          ref="cancelButtonRef"
          type="button"
          class="py-2 px-3 text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 hover:bg-gray-100"
        >
          Cancel
        </button>
        <ConfirmDeletionBtn @onConfirmDelete="confirmAction" label="Удалить" />
      </div>
    </div>
  </BaseModal>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import ConfirmDeletionBtn from './ConfirmDeletionBtn.vue'
import BaseModal from './BaseModal.vue'

export default {
  components: {
    BaseModal,
    ConfirmDeletionBtn
  },

  computed: {
    ...mapGetters({
      isDeleting: 'isDeleting',
      deleteModalForm: 'deleteModalForm'
    })
  },

  methods: {
    ...mapActions({
      handleDeletionActions: 'handleDeletionActions'
    }),

    confirmAction() {
      this.handleDeletionActions({
        confirmCallback: this.deleteModalForm.confirmCallback
      }).then(() => {
        this.onClose()
      })
    },

    onClose() {
      this.$store.commit('SET_OPEN_DELETE_MODAL', {
        open: false,
        confirmCallback: null,
        fullBtnLabel: null,
        rejectCallback: null,
        message: ''
      })
    }
  }
}
</script>
